Repository coauthors/coauthors, pull requests merged in 2024-04, with the labels that each got.

#10 feat(core): add @coauthors/core to use only core interfaces in @coauthors/cli, precommit, coauthors.vercel.app
  .github/workflows/labeler.yml
  biome.jsonc
  configs/tsconfig/package.json
  configs/tsup/package.json
  configs/tsup/src/index.ts
  configs/tsup/tsconfig.json
  configs/tsup/tsup.config.ts
  docs/coauthors.vercel.app/package.json
  package.json
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/utils/parseAuthors.ts
  packages/cli/tsup.config.ts
  packages/core/package.json
  packages/core/src/coauthor.ts
  packages/core/src/coauthors.ts
  packages/core/src/index.ts
  packages/core/src/schemas/index.ts
  packages/core/src/utils/githubUser.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: @coauthors/core, @coauthors/cli, coauthors.vercel.app, dependencies

#12 ci(*): add ci workflow
  .github/actions/pnpm-setup-node/action.yml
  .github/workflows/ci.yml
  configs/tsconfig/react-library.json
  configs/tsup/tsconfig.json
  package.json
  packages/core/package.json
  packages/core/src/coauthor.spec.ts
  packages/core/src/coauthor.ts
  packages/core/vitest.config.ts
Labels: @coauthors/core, @coauthors/cli, coauthors.vercel.app, dependencies, @coauthors/precommit

#15 feat(coauthors.vercel.app): add generator
  assets/logo.png
  docs/coauthors.vercel.app/package.json
  docs/coauthors.vercel.app/public/img/banner.png
  docs/coauthors.vercel.app/public/img/favicon.ico
  docs/coauthors.vercel.app/public/img/generator-example.gif
  docs/coauthors.vercel.app/public/img/logo.png
  docs/coauthors.vercel.app/src/components/CoauthorsGenerator.tsx
  docs/coauthors.vercel.app/src/components/HomePage.tsx
  docs/coauthors.vercel.app/src/components/index.ts
  docs/coauthors.vercel.app/src/pages/_app.mdx
  docs/coauthors.vercel.app/src/pages/_meta.en.json
  docs/coauthors.vercel.app/src/pages/_meta.ko.json
  docs/coauthors.vercel.app/src/pages/docs/_meta.en.json
  docs/coauthors.vercel.app/src/pages/docs/_meta.ko.json
  docs/coauthors.vercel.app/src/pages/docs/generator.en.mdx
  docs/coauthors.vercel.app/src/pages/docs/generator.ko.mdx
  docs/coauthors.vercel.app/theme.config.tsx
  pnpm-lock.yaml
Labels: coauthors.vercel.app, dependencies

#19 Support nodejs versions that don't support native fetch
  packages/core/package.json
  packages/core/src/utils/githubUser.ts
  packages/core/src/utils/universalFetch.spec.ts
  packages/core/src/utils/universalFetch.ts
  pnpm-lock.yaml
Labels: @coauthors/core, dependencies

#23 ci(*): init changesets
  .changeset/README.md
  .changeset/config.json
  .changeset/curvy-falcons-promise.md
  .github/labeler.yml
  .github/workflows/release.yml
  docs/coauthors.vercel.app/package.json
  docs/coauthors.vercel.app/src/pages/docs/_meta.en.json
  docs/coauthors.vercel.app/src/pages/docs/_meta.ko.json
  docs/coauthors.vercel.app/src/pages/docs/precommit/installation.en.mdx
  docs/coauthors.vercel.app/src/pages/docs/precommit/installation.ko.mdx
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/_meta.en.json
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/_meta.ko.json
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/installation.en.mdx
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/installation.ko.mdx
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/interface1.en.mdx
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/interface1.ko.mdx
  package.json
  packages/cli/package.json
  packages/prepare-commit-msg/package.json
  packages/prepare-commit-msg/src/index.spec.ts
  packages/prepare-commit-msg/src/index.ts
  packages/prepare-commit-msg/tsconfig.json
  packages/prepare-commit-msg/tsup.config.ts
  packages/prepare-commit-msg/vitest.config.ts
  pnpm-lock.yaml
Labels: @coauthors/cli, coauthors.vercel.app, dependencies, @coauthors/precommit

#5 Added Husky and nano-staged.
  .husky/pre-commit
  .nanostagedrc
  .vscode/extensions.json
  .vscode/settings.json
  biome.jsonc
  configs/tsconfig/base.json
  configs/tsconfig/nextjs.json
  docs/coauthors.vercel.app/next.config.js
  docs/coauthors.vercel.app/postcss.config.js
  docs/coauthors.vercel.app/prettier.config.mjs
  docs/coauthors.vercel.app/src/components/Callout.tsx
  docs/coauthors.vercel.app/src/middleware.ts
  docs/coauthors.vercel.app/src/pages/docs/cli/_meta.en.json
  docs/coauthors.vercel.app/src/pages/docs/cli/_meta.ko.json
  docs/coauthors.vercel.app/src/pages/docs/core/_meta.en.json
  docs/coauthors.vercel.app/src/pages/docs/core/_meta.ko.json
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/_meta.en.json
  docs/coauthors.vercel.app/src/pages/docs/prepare-commit-msg/_meta.ko.json
  docs/coauthors.vercel.app/tailwind.config.js
  docs/coauthors.vercel.app/theme.config.tsx
  docs/coauthors.vercel.app/tsconfig.json
  package.json
  packages/cli/tsconfig.json
  packlint.config.mjs
  pnpm-lock.yaml
Labels: @coauthors/cli, coauthors.vercel.app, dependencies

#28 feat(prepare-commit-msg): initialization
  .changeset/swift-tigers-behave.md
  .husky/prepare-commit-msg
  .nanostagedrc
  README.md
  codecov.yml
  package.json
  packages/core/src/coauthor.ts
  packages/core/src/coauthors.ts
  packages/core/src/index.ts
  packages/core/src/schemas/index.ts
  packages/prepare-commit-msg/package.json
  packages/prepare-commit-msg/src/index.spec.ts
  packages/prepare-commit-msg/src/index.ts
  packages/prepare-commit-msg/src/utils/convert.spec.ts
  packages/prepare-commit-msg/src/utils/convert.ts
  packages/prepare-commit-msg/src/utils/index.ts
  packages/prepare-commit-msg/src/utils/log.ts
  pnpm-lock.yaml
Labels: @coauthors/core, @coauthors/cli, dependencies, @coauthors/prepare-commit-msg
