Repository coauthors/coauthors, pull requests merged in 2024-06, with the labels that each got.

#58 feat(generator): add copy feature to reduce to copy
  docs/coauthors.me/src/components/CoauthorsGenerator.tsx
Labels: coauthors.me

#66 feat(vscode): add Source Control Manager to use Coauthors
  .changeset/dry-fireants-bathe.md
  packages/coauthors-vscode/src/@types/vscode.git.d.ts
  packages/coauthors-vscode/src/extension.ts
Labels: coauthors-vscode

#71 ci(turbo): update turbo version
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies
